div.main {
	background-color: #000000;
	width: 700px;
	padding: 50px;
	margin: 50px;
	opacity: 0.8;
	
}
div.date {
	background-color: #ffaf00;
	padding: 10px;
	color: #ffffff;
	font-size: 12px;
}
.date {
	margin-right: 580px;
}

div h1 {
	color: #ffffff;
	font-size: 50px;
}

div.paragrab{
	color: #ffffff;
	margin-right: 15px;
	opacity: 0.7;
}
div p a {
	color: #ffaf00;
}
div p {
	text-indent: 50px;
}